.footer__list-element{
  margin-top: 0px;
}

@media  screen and (max-width: 320px) {
  .footer__list-element{
    margin-bottom: 32px;
  }
  .footer__list-element:last-child{
    margin-bottom: 0px;
  }
}
