.cover__subtitle{
  text-align: center;
  z-index: 50;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  }
  @media screen and (max-width: 1024px){
    .cover__subtitle{
      margin: 379px 332px 195px;
    }
  }

  @media  screen and (max-width: 768px){
    .cover__subtitle{
      margin: 299px 204px 115px;
    }
  }

  @media  screen and (max-width: 320px) {
    .cover__subtitle{
      font-size: 14px;
      line-height: 16px;
      margin: 119px 16px 33px;
    }
  }
