@media screen and (max-width: 1024px){
  .cover{
    margin: 0;
  }
}
.cover{
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  grid-template-rows: repeat(2, 1fr);
  margin: 92px 48px;
  position: relative;
}
