.cover__background{
  background-image: url(../../../../images/sprint-3-images/cover-trains.png);
  background-size: cover;
  width: 1184px;
  height: 740px;
  margin-top: 92px;
  z-index: 10;
}
.cover__background:hover{
  cursor: pointer;
  box-shadow: 0, 0, 0, #000000;
  opacity: 0.25;
}
