.cover__subtitle{
  position: absolute;
  margin: 429px 412px 245px;
  text-align: center;
  z-index: 50;
  font-family: Inter-Regular, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
}
