.cover__title{
  max-width: 560px;
  text-align: center;
  z-index: 50;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
}

@media screen and (max-width: 1024px){
  .cover__title{
    margin: 195px auto 0;
  }
}
@media  screen and (max-width: 768px){
  .cover__title{
    margin: 115px auto 0;
  }
}
@media  screen and (max-width: 320px) {
  .cover__title{
    font-size: 32px;
    line-height: 35px;
    margin: 33px auto 0;
  }
}
