.place{
  display: grid;
  grid-template-areas:
  "place__title place__website"
  "place__img place__paragraph";
  grid-template-columns: 460px 1fr;
  margin-bottom: 80px;
  grid-column-gap: 40px;
}
@media screen and (max-width: 1024px){
  .place{
    grid-template-columns: 440px 1fr;
    grid-column-gap: 32px;
    margin-bottom: 76px;
  }
  .place:nth-child(3){
    margin-bottom: 0px;
  }
  .place:last-child{
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 768px){
  .place{
    grid-template-columns: 340px 1fr;
    grid-column-gap: 28px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 600px){
  .place{
    grid-template-areas:
    "place__title"
    "place__website"
    "place__img"
    "place__paragraph";
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 320px){
  .place{
    margin-bottom: 50px;
  }
  .place:last-child{
   margin-bottom: 0;
  }
}
