.place__website{
  grid-area: place__website;
  align-self: end;
  margin-bottom: 48px;
}
@media  screen and (max-width: 768px) {
  .place__website{
    margin-bottom: 48px;
  }
}

@media  screen and (max-width: 320px) {
  .place__website{
    margin: 0px 16px 32px;
  }
}
