.footer__link{
  margin-right: 18px;
  text-decoration: none;
  color: white;
  font-family: Inter-Regular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}
.footer__link:nth-child(4){
  margin-right: 31px;
}
